.trade-canvas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-surface-a0);
}

#navBar {
    height: 50px;
    padding: 0px 1rem;
    border-bottom: 1px solid var(--clr-surface-a20);
}

#connectWallet {
    height: 34px;
    border: none;
    border-radius: 0.6rem;
    padding: 0px 0.8rem !important;
    background-image: linear-gradient(-225deg, #AC32E4 10%, #7918F2 50%, #4801FF 100%);
    font-weight: 500;
}

#connectWallet:hover {
    border-radius: 10rem;
}

.navbar-ic-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px !important;
    margin: 0px !important;
}

.navbar-ic-btn:hover {
    opacity: 0.8;
}

#usrWallet {
    width: 44px;
    height: 34px;
    color: var(--clr-dark);
    border-radius: 0.6rem;
    border: none;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

#usrWallet:hover {
    border-radius: 10rem;
}

#chart {
    background-color: transparent;
    flex: 1;
}