.trade-canvas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-surface-a0);
}

#navBar {
    height: 60px;
    padding: 0px 1rem;
    border-bottom: 1px solid var(--clr-surface-a20);
}

#connectWallet {
    height: 40px;
    border: none;
    border-radius: 10rem;
    padding: 0px 0.8rem !important;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    font-weight: 500;
}

#connectWallet:hover {
    background-image: linear-gradient(225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
}

#usrWallet {
    gap: 0.4rem;
    height: 40px;
    border: none;
    padding: 0px 0.6rem !important;
    font-weight: 500;
    border-radius: 10rem;
    background-color: var(--clr-surface-a20);
}

#usrWallet:hover {
    background-color: var(--clr-surface-a10);
}

.wallet-icon {
    width: 24px;
    height: 24px;
    background-color: var(--clr-surface-a10);
    border-radius: 100%;
}

.navbar-ic-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-surface-a20);
    border-radius: 10rem;
    border: none;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1.2rem;
}

.navbar-ic-btn:hover {
    background-color: var(--clr-surface-a10);
}

#chart {
    background-color: transparent;
    flex: 1;
}