.offcanvas {
    background-color: var(--clr-surface-a0) !important;
}

.offcanvas-label {
    font-weight: 700;
    color: var(--clr-text-a0);
    letter-spacing: 0.5px;
}

.offcanvas-body {
    padding: 0px 1rem !important;
}

.wallet-address-container{
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    flex-direction: column;
}

.wallet-address-container h5 {
    width: fit-content;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1.4rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    color: transparent;
    background-clip: text;
}

.wallet-address-container h4 {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--clr-light);
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    color: transparent;
    background-clip: text;
}

.wallet-balance {
    padding-top: 1rem;
    padding-bottom: 0.2rem !important;
}

.trading-account-balance {
    padding-bottom: 1rem !important;
}

.balance-title {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 0.9rem !important;
    color: var(--clr-text-a20);
    font-weight: 700;
}

.balance {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1.6rem;
    color: var(--clr-text-a0);
    font-weight: 700;
}

.action-btns {
    margin-bottom: 1rem;
}

.action-btns button{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    background-color: transparent;
    border: none;
    color: var(--clr-primary-a0);
    font-size: 0.9rem;
    font-weight: 700;
}

.action-btns button:hover {
    opacity: 0.8;
}

.action-btns button .ic-container {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary-a0);
    color: var(--clr-light);
    border-radius: 100%;
}

.network-rd-btn-group .nt-btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--clr-text-a0) !important;
    border: none !important;
    border-bottom: 1px solid var(--clr-surface-a20) !important;
    text-align: start;
    border-radius: 0px !important;
}

.network-rd-btn-group .btn-check:checked+.nt-btn {
    background-color: var(--clr-surface-a20);
}

.network-rd-btn-group .nt-logo {
    width: 34px;
    height: 34px;
    background-color: var(--clr-surface-a10);
    border-radius: 100%;
    object-fit: contain;
}


