{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="trade-canvas">

    <div id="navBar" class="d-flex align-items-center justify-content-between">

        <button class="navbar-ic-btn">
                <i class="ph-bold ph-plus"></i>
            </button>

        <!-- If user not connect wallet -->
        <button id="connectWallet" class="d-flex align-items-center">
            Connect wallet
        </button>

        <!-- user connected wallet -->
        <button id="usrWallet" class="d-flex flex-row align-items-center justify-content-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWallet" style="display: none !important;">
            <div class="wallet-icon">
            </div>
            <span class="wallet-address">Demo..VyR8</span>
        </button>

    </div>

    {% include 'offcanvas_wallet.html' %}

    <div id="chart"></div>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'javascript/app.js' %}"></script>
{% endblock %}