<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWallet">

    <div class="offcanvas-header d-flex align-items-center justify-content-end w-100">
        <button type="button" data-bs-dismiss="offcanvas" class="icon-btn">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>

    </div>

    <div class="offcanvas-body">
        <div class="wallet-address-container" id="walletContainer">
            <h5>Hello,</h5>

            <div class="d-flex flex-row align-items-center" style="gap: 0.4rem;">
                <h4 id="walletAddress"></h4>
            </div>
        </div>

        <div class="wallet-balance">
            <h6 class="balance-title">Wallet Balance (USDT)</h6>
            <h5 id="usdtBalance" class="balance">0.00</h5>
        </div>


        <div class="trading-account-balance">
            <h6 class="balance-title">Trading Account (USDT)</h6>
            <h5 class="balance">0.00</h5>
        </div>

        <div class="action-btns d-flex flex-row align-items-center">
            <button>
                <div class="ic-container">
                    <span class="material-symbols-rounded">
                        output_circle
                    </span>
                </div>
                Deposit
            </button>
            <button>
                <div class="ic-container">
                    <span class="material-symbols-rounded">bubble</span>
                </div>
                Send
            </button>

        </div>

        <div class="action-btns d-flex flex-row align-items-center">

            <button id="networkSwitchBtn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNetwork">
                <div id="selectedNetworkLogo" class="ic-container">
                </div>
                <span id="selectedNetworkName">Select Network</span>
            </button>

            <button id="copyWalletAddress">
                <div class="ic-container">
                    <span class="material-symbols-rounded">content_copy</span>
                </div>
                Copy Adress
            </button>

        </div>

        <div class="action-btns d-flex flex-row align-items-center">

            <button>
                <div class="ic-container">
                    <span class="material-symbols-rounded">
                        question_mark
                    </span>
                </div>
                Help
            </button>

            <button id="disconnectBtn" style="color: #dc2626;" data-bs-dismiss="offcanvas">
                <div class="ic-container" style="background-color: #dc2626;">
                    <span class="material-symbols-rounded">
                        logout
                    </span>
                </div>
                Disconnect
            </button>

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNetwork">
    <div class="offcanvas-header d-flex align-items-center justify-content-between w-100">
        <button type="button" class="icon-btn" style="font-size: 1.2rem;" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWallet">
            <span class="material-symbols-rounded">
                arrow_back
            </span>
        </button>
        <div class="offcanvas-label">
            SELECT NETWORK
        </div>
        <button type="button" data-bs-dismiss="offcanvas" class="icon-btn" style="font-size: 1.2rem;">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>
    </div>
    <div class="offcanvas-body">
        <div id="networkList" class="network-rd-btn-group d-flex flex-column">
        </div>
    </div>
</div>